<button type="button" class="bigButton greenBackground roundEdges" (click)='revealForm()'>ADD</button>

<div class="addProductContainer">
    <app-add-product [ngClass]="{'isShown' : isRevealed}" (submitted)='onSubmit($event)'></app-add-product>
</div>

<div class="table">

    <table>

        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let item of items | async'>

                <td>
                    {{item.id}}
                </td>

                <td>
                    {{item.product}}
                </td>

                <td>
                    {{item.price}}
                </td>

                <td>
                    {{item.quantity}}
                </td>

                <td>
                    <button type="button" (click)='removeItem(item.id)'>Delete</button>
                </td>

                <td>
                    <button type="button">Edit</button>
                </td>

            </tr>

        </tbody>

    </table>

</div>